[defaults]
inventory = ansible/inventory/hosts.yml
roles_path = ansible/playbooks/roles
remote_user = ubuntu
host_key_checking = False
private_key_file = ~/.ssh/id_ed25519

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPath=/tmp/ansible-ssh-%h-%p-%r -o ControlPersist=60s -o StrictHostKeyChecking=no
